* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bungee Spice", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100vw;
  padding: 2.5rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1, p, footer{
  font-size: 2rem;
  color: white ;
}
.ss { 
  background-image: url(img/photo-1562813733-.avif);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
h1{font-weight: bold;}
