* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bungee Spice", cursive;
  background-color: black;
}

nav {
  display: flex;
  width: 100vw;
  padding: 2.5rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  top: 0;
  position: fixed;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
h1,
p,
footer {
  font-size: 2rem;
  color: white;
}
.ss {
  background-image: url(img/photo-1562813733-.avif);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-size: 5rem;
  align-items: center;
}

h1 {
  font-weight: bold;
}

footer {
  min-height: 8vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  display: flex;
  justify-content: right;
  align-items: right;
}
.tekst1,
.tekst3 {
  width: 40vw;
  float: right;
  margin-right: 5rem;
}

.tekst2,
.tekst4 {
  width: 40vw;
  float: left;
  margin-left: 5rem;
}
header {
  font-size: x-large;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plaatje2,
.plaatje4 {
  float: right;
}

section {
  width: 100vw;
  height: 100vh;
}
