h1 {
  font-size: 24px;
  color: rgb(22, 87, 6);
  font-weight: bold;
  font-style: italic;
}
h2 {
  font-size: 20px;
  color: #0000ff;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  color: teal;
  font-weight: bold;
}
p {
  color: #4d4d4d;
}
.p1 {
  font-weight: bold;
  color: rgb(22, 87, 6);
}
a {
  color: #8a2be2;
  text-decoration: none;
}
img {
  width: 50%;
}
header {
  width: 100vw;
  height: 50vh;
  background-image: url(gamestudio.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
article {
  border-left-width: 12px;
  border-radius: 5px;
  border-color: rgb(54, 70, 175);
  border-width: 5px;
  border-style: solid;
}
