ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  color: blue;
  flex-grow: 1;
}
.logo {
  color: blue;
}
.login {
  color: blue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}